/* CSS styles for MusicBuddy */





		/* Here are the general inputs and styles */

	/* Font import */
@font-face {
	font-family: coolvetica;
	src: url(coolvetica.ttf);
}
	/* The login form */
.accounts-dialog {
	margin-top: 4vh;
	background: lavender;
}





		/* First the two main classes in each route template */

	/* The fixed part general stylings */
/* !!!!!!! must put everything in % or in vh !!!! */
.fixedPart {
	transition: margin-left .5s;
	text-align: center;
	padding-top: 3vh;
	position: fixed;
	width: 100%;
	background-color: #F0F8FF;
	font-size: 1.6vh;
}
.fixedPart > h1 {
	font-size: 12vh;
	font-family: coolvetica;

}
.fixedPart > h2 {
	padding-top: 1vh;
	font-size: 5vh;
	font-family: coolvetica;
	display: inline-block;	
}
.fixedPart > h3 {
	padding-top: 2vh;
	font-size: 4vh;
	font-family: coolvetica;	
}
.fixedPart > h4 {
	font-size: 2.5vh;
	font-family: coolvetica;
	text-align: left;
	margin-left: 40vh;
}
.fixedPartNewTopic {
	padding-top: 7vh;
	height: 100vh
}
	/* The fixed part grid stylings for the 4 main categories routes */
.fixedGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.leftImage {
	padding-top: 5vh;
	height: 14vh;
}
.rightImage {
	padding-top: 5vh;
	height: 15vh;
}
.fixedGridTitle {
	font-size: 12vh;
	font-family: coolvetica;
}
	/* The fixed part grid stylings for singleTopic route */
.singleTopicDescription {
	font-size: 2.3vh;
	font-family: georgia;
	height: 14vh;
	margin-left: 40vh;
	margin-right: 40vh;
	text-align: left;
	overflow-y: scroll; /* to try with hidden ? */
}
h2 > span{
	display: inline-block;	
	font-size: 3vh;
	font-family: coolvetica;
}
.newComment {
	text-align: left;
	margin-left: 40vh;
}
.commentButton {
	margin-left: 40vh;
}
	/* End of the fixedParts styling */
	
	
	
	
	
		/* Now the styling of the scrollingPart */

	/* The scrollingPart general styling */
.scrollingPart {
	overflow-y:scroll;
	position: fixed;
	width: 100%;
	background-color: #F0F8FF;
}
	/* The scrollingPart for the home template */
.homeScroll {
	height: 51vh;
	margin-top: 49vh;	
}
	/* The scrollingPart for the 4 main category templates */
.tabScroll {
	height: 81vh;
	margin-top: 19vh;
}
	/* The scrollingPart for the singleTopic template */
.singleTopicScroll {
	height: 45vh;
	margin-top: 55vh;
}
	/* The scrollingPart for the searh template */
.searchScroll {
	height: 88vh;
	margin-top: 12vh;
}
	/* End of the scrollingPart styles */





		/* Now the styles for the grids */

	/* Styles for the general grid */
.gridContainer {
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 2vh;
	margin-left: 40vh;
	margin-right: 40vh;
	margin-top: 3vh;
	margin-bottom: 5vh;
}
	/* Styles for the items */
.gridItem {
	font-size: 4vh;
	font-family: coolvetica;
}
.gridItem > a > img {
	height: 100%;
	width: 100%;
	border-radius: 1vh;
}
.imgTitle {
	position: absolute;
	color: white;
	padding-left: 1vh;
	font-size: 4vh;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.imgText {
	position: absolute;
	color: white;
	padding-left: 1vh;
	padding-top: 17vh;
	font-size: 1.8vh;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
	/* End of the grids styling */





		/* Now the styles for the topics in the infinite lists */

	/* General stylings */
.eachTopic{
	background-color: white;
/* Issue here since not aligned on the right with the images */
	margin-left: 40vh;
	margin-right: 40vh;
	margin-top: 1vh;
	margin-bottom: 3vh;
    border: 0.25vh solid #C0C0C0;
	border-radius: 0.5vh;
}
	/* Sub-sections stylings */
.topicUser	{
	display: inline-block;
	padding-top: 1vh;
	padding-left: 1vh;
}
.topicDate{
	display: inline-block;
	padding-left: vh;
}
.topicTitleAndCategory {
	grid-column: 1/2;
	font-size: 2.5vh;
	font-family: coolvetica;
	padding-left: 3vh;
}
.topicTitleAndCategory > a{
	font-size: 4vh;
	font-family: coolvetica;
	text-decoration: none;
}
.topicDescription{
	grid-column: 1/4;
	padding-left: 5vh;
	padding-right: 5vh;
	padding-bottom: 2vh;
	font-size: 2.3vh;
	font-family: Georgia;
}





		/* Now the styles for the comments in the infinite lists */

	/* The last comment in the topics lists */
.latestComment {
	margin-left: 10vh;
	margin-right: 10vh;
	font-family: Georgia;
}
.latestCommentary {
	font-size: 1.7vh;	
}
.latestCommentaryText {
	font-size: 2.1vh;
	color: #0B83BD;
}
.latestCommentUser {
	display: inline-block;
	font-size: 1.4vh;
}
.latestCommentDate {
	display: inline-block;
	font-size: 1.4vh;
}
	/* The comments in the singleTopic routes */











		/* The sideNav attributes */

	/* The sideNav's general layout for the open/close event */
.sideNav {
	height: 95vh;
	padding-top: 4vh;
	width: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1;
	background-color: #333;
	overflow-x: hidden;
	transition: 0.7s;
	font-size: 12px;
}
.sideNavLinks {
	color: white;
	transition: 0.7s;
}
.sideNavLinks:hover {
	color: #000000;
}
	/* The styles for the open button */
.openNav {
	padding-top: 6vh;
	position: fixed;
	z-index: 1;
	height: 100vh;
	background-color: #222;
	color: #818181;
	transition: 0.3s;
}
.openNav:hover {
	color: white;
}
	/* Style for the close button */
.closeNav {
	padding-left: 27vh;
	padding-top: 4vh;
	left: 0;
	position: absolute;
	z-index: 1;
	width: 4vh;
	font-size: 6vh;
	color: #555;
	display: none;
	transition: 0.3s;
}
.closeNav:hover {
	color: #111;
	cursor: pointer;
}
		/* The styles for the sideNav's content */
	/* The latest topics */
.sideNavTopics {
	margin-left: 1vh;
	margin-right: 1vh;
	margin-bottom: 1vh;
	padding: 1vh;
	color: white;
	background-color: #606060;
    border: 2px solid #141414;
    box-shadow: 0 0 5px 5px #141414;
	border-radius: 1vh;
}
	/* The latest comment for each topic if any */
.sideNavComments {
	margin-left: 5vh;
	margin-right: 1vh;
	padding: 1vh;
	color: white;
	background-color: #909090;
    border: 2px solid #141414;
    box-shadow: 0 0 5px 5px #141414;
	border-radius: 1vh;
}














/* !!!!!!!!!!!! */
/* hover effect on the main navbar as well on the <a> tags */
/* !!!!!!!!!!!! */





/*!!!!!!!!!!!!!!!!!!*/
/* Here we have all this to go through */
/*!!!!!!!!!!!!!!!!!!*/
		/* The navbar */
.welcomeUserItem{
}
/* Now to style the "plus" sign for the new topic tab (to be adjusted with a bigger font size)*/
.plus{
}
/* !!!!!!!!!!!!!!!!We will have to check these last two attributes !!!!!!!!!!!!!!! */
@media screen and (max-height: 450px) {
}






/* End of the CSS styles for MusicBuddy */