/* CSS styles for MusicBuddy */

	/* Finally the login form */
.accounts-dialog {
	margin-top: 4vh;
	background: lavender;
}


		/* First the two main classes in each route template */
.leftImage {
}
	/* The fixed div : header */
/* !!!!!!! must put everything in % or in vh !!!! */
.fixedPart {
	transition: margin-left .5s;
	text-align: center;
	padding-top: 3vh;
	position: fixed;
	width: 100%;
	background-color: #d1eeee;
	font-size: 1.6vh;
}
.fixedPart > h1 {
	font-size: 12vh;
	font-family: serif;	
}
.fixedPart > h2 {
	font-size: 5vh;
	font-family: serif;	
}
	/* The scrolling div : topic or comment list */
.scrollingPart {
	overflow-y:scroll;
	position: fixed;
	width: 100%;
	background-color: #d1eeee;
}
		/* Now the sub-classes for each srolling div */
	/* For the home template */
.homeScroll {
	height: 43vh;
	margin-top: 57vh;	
}
	/* For the 4 main category templates */
.tabScroll {
	height: 70%;
	margin-top: 30vh;
}
	/* For the singleTopic template */
.singleTopicScroll {
	height: 45%;
	margin-top: 55vh;
}
	/* For the searh template */
.searchScroll {
	height: 83%;
	margin-top: 17vh;
}




		/* End of the global templates styles */
.eachTopic{
	background-color: white;
	margin-left: 20vh;
	margin-right: 20vh;
	margin-top: 1vh;
	margin-bottom: 3vh;
    border: 0.1vh solid #111;
    box-shadow: 0 0 0.4vh 0.4vh #555;
	border-radius: 1vh;
}


		/* The sideNav attributes */
	/* The sideNav's general layout for the open/close event */
.sideNav {
	height: 95vh;
	padding-top: 4vh;
	width: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1;
	background-color: #333;
	overflow-x: hidden;
	transition: 0.7s;
	font-size: 12px;
}
.sideNavLinks {
	color: white;
	transition: 0.7s;
}
.sideNavLinks:hover {
	color: #000000;
}
	/* The styles for the open button */
.openNav {
	padding-top: 6vh;
	position: fixed;
	z-index: 1;
	height: 100vh;
	background-color: #222;
	color: #818181;
	transition: 0.3s;
}
.openNav:hover {
	color: white;
}
	/* Style for the close button */
.closeNav {
	padding-left: 29vh;
	padding-top: 4vh;
	left: 0;
	position: absolute;
	z-index: 1;
	width: 4vh;
	font-size: 6vh;
	color: white;
	display: none;
	transition: 0.3s;
}
.closeNav:hover {
	color: #333;
	cursor: pointer;
}
		/* The styles for the sideNav's content */
	/* The latest topics */
.sideNavTopics {
	margin-left: 1vh;
	margin-right: 1vh;
	margin-bottom: 1vh;
	padding: 1vh;
	color: white;
	background-color: #606060;
    border: 2px solid #141414;
    box-shadow: 0 0 5px 5px #141414;
	border-radius: 1vh;
}
	/* The latest comment for each topic if any */
.sideNavComments {
	margin-left: 5vh;
	margin-right: 1vh;
	padding: 1vh;
	color: white;
	background-color: #909090;
    border: 2px solid #141414;
    box-shadow: 0 0 5px 5px #141414;
	border-radius: 1vh;
}



		/* Now the styles for the grids */
	/* Styles for the general grids */
.gridContainer {
	display: grid;
	grid-template-columns: auto auto auto auto;
}
	/* Styles for the items */
.gridItem {
  font-size: 4vh;
}
.gridItem > a > img {
	height: 15vh;
}
.griditem > a {
	transition: 0.3s;
}
.gridItem > a:hover {
	text-decoration: none;
}









/* !!!!!!!!!!!! */
/* hover effect on the main navbar as well on the <a> tags */
/* !!!!!!!!!!!! */





/*!!!!!!!!!!!!!!!!!!*/
/* Here we have all this to go through */
/*!!!!!!!!!!!!!!!!!!*/
		/* The navbar */
.welcomeUserItem{
}
/* Now to style the "plus" sign for the new topic tab (to be adjusted with a bigger font size)*/
.plus{
}
/* !!!!!!!!!!!!!!!!We will have to check these last two attributes !!!!!!!!!!!!!!! */
@media screen and (max-height: 450px) {
}






/* End of the CSS styles for MusicBuddy */